@use "colors" as *;

html {
	font-size: 62.5%;
	scroll-padding-top: 50px;
	scroll-behavior: smooth;
}

body {
	position: relative;
	background-color: $background-color;
	font-size: 1.6rem;
}

.wrapper {
	margin: 0 auto;
	width: min(100%, 1200px);
}

.heading-title {
	font-family: "Raleway", sans-serif;
	font-weight: 900;
	text-align: center;
	color: $pure-white;
}

.section-title {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	color: $navy-blue;
	text-align: center;
}

.help-box {
	height: 50px;
	background-color: $grey;

	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: 0.5em;
		height: 100%;
	}

	&__upper,
	&__lower {
		font-family: "Raleway", sans-serif;
		font-weight: 600;
		line-height: 1.25em;
		color: $navy-blue;
	}

	&__lower {
		a {
			color: $navy-blue;
			text-decoration: underline;
		}

		img {
			width: 15px;
			height: 15px;
		}
	}
}

.header {
	height: 80px;
	background: $navy-blue;

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		padding: 0 1em;

		.logo {
			display: flex;
			align-items: center;
			width: 100%;
			cursor: pointer;

			&__icon {
				width: 45px;
				height: 45px;
				transition: transform 0.3s;
			}

			&__box {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				margin-left: 0.25em;

				&-upper,
				&-lower {
					font-family: "Raleway", sans-serif;
					font-weight: 600;
					color: $creme-white;
				}

				&-lower {
					margin-top: 0.15em;
				}
			}
		}

		.logo:hover .logo__icon {
			transform: scale(0.9);
		}

		.hamburger {
			display: block;
			padding: 1em;
			cursor: pointer;

			.line {
				margin: 6px 0;
				height: 2px;
				width: 35px;
				background-color: $creme-white;
			}
		}

		.nav-bar {
			position: absolute;
			top: 130px;
			left: 0;
			right: 0;
			height: 0;
			width: 100vw;
			background-color: $navy-blue;
			overflow: hidden;
			transition: height 0.4s;
			z-index: 999;

			&__list {
				display: block;
				margin: 80px auto 0 auto;
				width: fit-content;
				text-align: center;
				list-style-type: none;
				opacity: 0;
				transition: opacity 0.4s;

				&-item {
					margin: 2.5em 0;

					a {
						display: block;
						padding: 0.5em 1.25em;
						font-family: "Open Sans", sans-serif;
						font-size: 1.7rem;
						color: $creme-white;
						border-radius: 50px;
						text-decoration: none;
						transition: color 0.3s, background-color 0.3s;

						&:hover {
							color: $navy-blue;
							background-color: $cta-color;
						}
					}

					.active {
						color: $navy-blue;
						background-color: $cta-color;
					}
				}
			}

			.show-list {
				opacity: 1;
			}
		}

		.show-nav {
			height: 450px;
		}
	}
}

.hero-image {
	display: flex;
	position: relative;
	padding: 2em 2.5em 1.5em 2.5em;
	background-image: url("../img/header-img.jpg");
	background-size: cover;
	background-position: center;

	.content-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.heading-title,
	.heading-description {
		color: $creme-white;
		z-index: 2;
	}

	.heading-title {
		margin-bottom: 0.5em;
	}

	.heading-description {
		font-family: "Open Sans", sans-serif;
		line-height: 1.5em;
		text-align: center;
	}

	.cta-button {
		margin-top: 2.5em;
		padding: 0.7em 1.4em;
		font-family: "Raleway", sans-serif;
		font-size: 1.6rem;
		font-weight: 600;
		background-color: $cta-color;
		border-radius: 8px;
		border: none;
		transition: background-color 0.2s, color 0.2s;
		z-index: 2;
		cursor: pointer;

		&:hover {
			background-color: $navy-blue;
			color: $creme-white;
		}
	}

	&__shadow {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 1;
	}
}

main {
	.aboutme {
		position: relative;
		padding-top: 2em;
		
	}
}
