@use 'colors' as *;

html {
	font-size: 62.5%;
	scroll-padding-top: 50px;
	scroll-behavior: smooth;
}

body {
	position: relative;
	background-color: $background-color;
	font-size: 1.6rem;
}

.wrapper {
	margin: 0 auto;
	width: min(100%, 1200px);
}

.header {
	padding: 0 1em;
	height: 80px;
	background: $navy-blue;

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;

		.logo {
			display: flex;
			cursor: pointer;

			&__icon {
				width: 45px;
				height: 45px;
			}

			&__box {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				margin-left: 0.25em;

				&-upper,
				&-lower {
					font-family: 'Raleway', sans-serif;
					font-weight: bold;
					color: $creme-white;
				}

				&-lower {
					margin-top: 0.15em;
				}
			}
		}

		.hamburger {
			
		}
	}
}
