@media (min-width: 768px) {
	.help-box {
		height: 40px;

		.wrapper {
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			padding: 0 1.5em;
		}

		&__lower {
			margin-left: 1em;
		}
	}
}

@media (min-width: 992px) {
	.header {
		.wrapper {
			.hamburger {
				display: none;
			}

			.nav-bar {
				position: static;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				height: 100%;
				overflow: visible;

				&__list {
					display: flex;
					margin: 0;
					opacity: 1;

					&-item {
						margin: auto 0;

						a {
							display: block;
							margin: 0 0.5em;
						}
					}
				}
			}
		}
	}
}
