@media (min-width: 768px) {
	.header {
		.wrapper {
			.nav-bar {
				top: 80px;
			}
		}
	}

	.help-box {
		height: 40px;

		.wrapper {
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			padding: 0 1.5em;
		}

		&__lower {
			margin-left: 1em;
		}
	}

	.hero-image {
		padding: 2em 12em 1.5em 12em;
	}

	main {
		.aboutme {
			padding-top: 3em;

			.honors-box {
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(3, 1fr);
			}
		}

		.main-activities {
			&-box {
				flex-direction: row;
				justify-content: center;

				&__element {
					margin: 2.5em 1.5em 0 1.5em;
					width: 25%;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.header {
		.wrapper {
			.hamburger {
				display: none;
			}

			.nav-bar {
				position: static;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				height: 100%;
				overflow: visible;

				&__list {
					display: flex;
					margin: 0;
					opacity: 1;

					&-item {
						margin: auto 0;

						a {
							display: block;
							margin: 0 0.5em;
						}
					}
				}
			}
		}
	}

	.hero-image {
		height: 550px;
		align-items: center;
		justify-content: flex-start;
		background-position: 50% 70%;

		.content-box {
			align-items: flex-start;
			width: 70%;
		}

		.heading-title,
		.heading-description {
			text-align: left;
		}

		.heading-title {
			width: 70%;
			font-size: 5rem;
		}

		.heading-description {
			width: 70%;
			font-size: 1.7rem;
			line-height: 1.7em;
		}

		.cta-button {
			margin-top: 4.75em;
			padding: 0.8em 1.6em;
			font-size: 1.7rem;
		}
	}

	main {
		.section-title {
			font-size: 2.6rem;
		}

		.aboutme {
			position: relative;
			padding-top: 5em;
			padding-bottom: 5em;

			.wrapper {
				.section-decoration {
					display: block;
				}
			}

			.honors-box {
				margin-top: 2em;
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: repeat(2, 1fr);
				gap: 6em 3em;

				&__element {
					&-title {
						&--left {
							text-align: left;
						}

						&--right {
							text-align: right;
						}
					}

					&-description {
						font-size: 1.5rem;

						&--left {
							text-align: left;
						}

						&--right {
							text-align: right;
						}
					}
				}
			}
		}

		.main-activities {
			&-box {
				justify-content: space-between;

				&__element {
					width: 22.5%;
				}
			}
		}
	}
}
