@media (min-width: 768px) {
	.header {
		.wrapper {
			.nav-bar {
				top: 120px;
			}
		}
	}

	.help-box {
		height: 40px;

		.wrapper {
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			padding: 0 1.5em;
		}

		&__lower {
			margin-left: 1em;
		}
	}

	.hero-image {
		padding: 2em 12em 1.5em 12em;
	}

	main {
		.aboutme {
			padding-top: 3em;

			.honors-box {
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(3, 1fr);
			}
		}
	}
}

@media (min-width: 992px) {
	.header {
		.wrapper {
			.hamburger {
				display: none;
			}

			.nav-bar {
				position: static;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				height: 100%;
				overflow: visible;

				&__list {
					display: flex;
					margin: 0;
					opacity: 1;

					&-item {
						margin: auto 0;

						a {
							display: block;
							margin: 0 0.5em;
						}
					}
				}
			}
		}
	}

	.hero-image {
		height: 550px;
		align-items: center;
		justify-content: flex-start;
		background-position: 50% 70%;

		.content-box {
			align-items: flex-start;
			width: 70%;
		}

		.heading-title,
		.heading-description {
			text-align: left;
		}

		.heading-title {
			width: 70%;
			font-size: 5rem;
		}

		.heading-description {
			width: 70%;
			font-size: 1.7rem;
			line-height: 1.7em;
		}

		.cta-button {
			margin-top: 4.75em;
			padding: 0.8em 1.6em;
			font-size: 1.7rem;
		}
	}
}
